<div class="alert alert--bg alert--glow alert--error alert--sm alert--border mb20">
    <i class="alert__icon zmdi zmdi-alert-circle"></i>            
    <div>
        {{ trans('System has not been updated. Please try again or contact with software provider.') }}
    </div>
</div>