<div class="alert alert--bg alert--glow alert--success alert--sm alert--border mb20">
    <i class="alert__icon zmdi zmdi-check-circle"></i>         
    <div>
        <div class="jumbo">
            <h1>{{ version }}</h1>  
            {{ version }}          
        </div
    </div>
</div>