{% extends 'antares/ui-components::templates.layouts.template' %}
{% block content %}
    <div style="background-color:red;padding:10px;height:100%;">
        {{ content|raw }}
    </div>
{% endblock %}