{% extends "antares/foundation::layouts.installer.main" %}
{% block left_panel_content %}        
    {{ parent() }}
    {% include 'antares/installer::partials._menu' with {'active': 5} %}    
{% endblock %}
{% block content %}  
    <div class="col-group">
        <div class="col-16">
            <h1>{{ trans('Installation completed') }}</h1>
        </div>
        <div class="col-16">
            <a href="{{ handles('antares/foundation::login') }}" class="btn btn--primary mdl-button mdl-js-button mdl-js-ripple-effect" >
                {{ trans('Login page') }} <i class="zmdi zmdi-sign-in"></i>
            </a> 
        </div>
    </div>
{% endblock %}  