<div id="notificationTemplatePreview" title="{{ trans('antares/notifications::messages.template_preview_title') }}" style="display: none;" class="w1000">
    <div class="template-preview-container" style="width:100%;">
        <h1>{{ trans('antares/notifications::messages.generating_notification_preview') }}</h1>
    </div>
</div>   