{% extends ajax ? "antares/foundation::layouts.exception.exception_clear" : "antares/foundation::layouts.exception.exception" %}
{% block content %}     
    <div id="app-wrapper">
        <div class="app-content error-page error-page--clean page-error error-page--clean">
            <section class="main-content">
                <div class="error-container">
                    <div class="top-area">
                        <div class="app-logo">
                            <img src="{{ brand_logo('big','/img/theme/antares/logo/logo_mobile.png') }}" alt="{{ brand_title() }}">
                        </div>
                        <div class="error-message">
                            <div class="error-message__bg"></div>
                            <div class="error-message__text">
                                <span class="error-code">500</span>
                                <span class="error-desc">Internal Server Error</span>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-area">
                        <div class="error-details">
                            <h3>Reason</h3>
                            <p> 
                                Client Area has been disabled due to maintenance. Administration may access the system when logging-in as a user. If you'd like to disable maintenance mode, please go to Configuration -> Branding section in Admin Area.
                            </p>
                            <div class="btn-group">                                
                                {% if key %}
                                    <a href="/antares/logout/with/{{ key }}" class="btn btn--md btn--red mdl-button mdl-js-button mdl-js-ripple-effect" >
                                        Back to admin
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

