<label>
    <input type='radio' name='{{ control.getName() }}' value='{{ option.value }}' {% if option.selected %}checked{% endif %} {{ option.getAttributes()|stringify }}>
    {{ option.name }}
</label>