<div class="col-16">        
    <label class="form-block__name p0 mt8">
        <span>{{ field.label|raw }}</span>
    </label>
    <div class="separator-small"></div>
</div>
<div class="col-16">
    <div class="form-block">
        <div class="input-field">            
            <div id="{{ id }}" class="dropzone dropzone-form brand-logo" style="width:400px;height:300px;">
                <div class="dz-message" data-dz-message>
                    <div class="dz-m__current" ></div>
                    <div class="dz-m__header"  style="opacity:1;"><i class="zmdi zmdi-wallpaper"></i></div>
                    <div class="dz-m__content" style="opacity:1;">
                        <span>Drag &amp; drop,</span>
                        <span>or click to upload</span>
                    </div>
                </div>            
            </div>
            {{ input|raw }}            
        </div>    
        {% if control.inlineHelp|length>1 or control.help|length>1 %}
            {% include 'antares/foundation::layouts.antares.partials.form.vertical._description' %}             
        {% endif %}
    </div>
</div>   


