<div class="header-translation__compare">
    <div class="ddown ddown--flags ddown">
        <div class="ddown__init btn btn--md mdl-js-button mdl-js-ripple-effect">
            <div class="flag-icon flag-icon-fr flag-translate">
            </div>
            <div class="arrow">
                <i class="zmdi zmdi-chevron-right"></i>
            </div>
            <div class="flag-icon flag-icon-us flag-compare">
            </div>
        </div>
        <div class="ddown__content">
            <div class="ddown__menu">
                <div class="header-translation__country">
                    <div class="header-translation__select-text">Translate:
                    </div>
                    <div class="form-block">
                        <div class="input-field input-field--icon input-field--desc-right">
                            <span class="input-field__icon"><span class="flag-icon"></span></span>
                            <select class="header-translation__translate-select" name="select" data-flag-select-translations data-selectAR="true">
                                <option data-country="pl" value="124124" ><span class="flag-icon flag-icon-pl"></span>English</option>
                                <option data-country="us" value="aSDafd" selected>Option two... </option>
                                <option data-country="fr" value="fa34wf4e3">Option three...</option>
                                <option data-country="nl" value="asdasdas">Option 4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="header-translation__country">
                    <div class="header-translation__select-text">Compare To:
                    </div>
                    <div class="form-block">
                        <div class="input-field input-field--icon input-field--desc-right">
                            <span class="input-field__icon"><span class="flag-icon"></span></span>
                            <select class="header-translation__compare-select" class="header-translation__" name="select" data-flag-select-translations data-selectAR="true">
                                <option data-country="pl" value="124124" selected><span class="flag-icon flag-icon-pl"></span>English</option>
                                <option data-country="us" value="aSDafd">Option two... </option>
                                <option data-country="fr" value="fa34wf4e3">Option three...</option>
                                <option data-country="nl" value="asdasdas">Option 4</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>