<script type="text/x-template" id="tree-item">
                            <li class="acl-node" v-bind:class="{'acl-node--open': model.open, 'acl-node--disabled': model.disabled }">
                                <div class="acl-node__input">
                                    <div class="acl-node__arrow mdl-js-button mdl-js-ripple-effect" @click="toggleOpenNode" v-if="model.children">
                                        <i class="zmdi zmdi-chevron-right"></i>
                                    </div>                                    
                                    <input class="acl-checkbox" v-bind:class="{'acl-checkbox--indeterminate': model.indeterminate}" type="checkbox" :name="model.saveName" :id="model.saveName" :value="model.value" :disabled="model.disabled" v-model="model.checked">
                                    <label class="acl-node__label mdl-js-button mdl-js-ripple-effect" :for="model.saveName" @click="openChildren"></label>
                                </div>
                                <div class="acl-node__content">
                                    <div class="acl-node__header" @click="model.checked = !model.checked">
                                        <div class="acl-node__title">{{ '{{model.name}}'}}</div>
                                        <p class="acl-node__description">{{ '{{model.description}}' }}</p>
                                    </div>                                         
                                    <ul class="acl-node__list" v-show="model.open" v-if="model.children">
                                        <tree-item @updateParent="updateChildCounter" :parentCheckbox="checkboxValue"  v-for="model in model.children" :model="model">
                                        </tree-item>
                                    </ul>
                                </div>
                            </li>
                        </script>