{% extends "antares/foundation::layouts.antares.index" %}
{% block content %}    
    <br/>
    <div class="container-fluid">
        <div class="jumbotron bg-success">
            <h1>
                {{ trans('Welcome at sandbox mode') }} [ build 1.0.1 ]            
            </h1>
            <p>{{ trans('Feel free with modify any instance configuration.') }}</p>
        </div>
    </div>
{% endblock %}
