<div class="alert alert--bg alert--glow alert--error alert--sm alert--border mb20">
    <i class="alert__icon zmdi zmdi-alert-circle"></i>
    <span>
        <strong>Error!</strong> 
        {% if message is iterable %}
            {% for name,msg in message %}
                {{ msg }}!
            {% endfor %}
        {% else %}        
            {{ message }}
        {% endif %} 
    </span>
</div>