{% for key, values in tests %}
    <div class="col-16">
        {{ key }}
    </div>
    <div class="col-16">
        {% for testname,params in values %}                
            <input  data-icheck="true"  type="checkbox" name="module[{{ params.id }}]"/>
            <span class="form-span--helper">{{ testname }}</span>
        {% endfor %}
    </div>
{% endfor %}
