<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{ list[selected].name }}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">    
    {% for name, item in list %}
        <li>
            <a href="{{ handles('admin/tools/tester/test/'~module~'/submodule/'~name) }} " title="{{ item.name }}">
                {{ item.name }}
            </a>
        </li>    
    {% endfor %}
  </ul>
</div>