<div class="card card--chart-small card--primary-light">
    <div class="card__header">
        <div class="card__header--top">
            {{ attributes['action']|str_humanize }} / {{ attributes['method']|str_humanize }}
        </div>
    </div>
    <div class="card__content">
        {{ form|raw }}
    </div>
</div>