<div style="height: 80px; line-height: 80px; font-size: 10px;"> </div>	

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            <font face="Arial, Helvetica, sans-serif" size="3" color="#96a5b5" style="font-size: 13px;">
            <span style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #96a5b5;">
                2015 © Antares. ALL Rights Reserved.
            </span></font>				
        </td>
    </tr>			
</table>
<div style="height: 30px; line-height: 30px; font-size: 10px;"> </div>