<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <style>
            .analyzer-report {
                font-family: Consolas;
                background-color: #fff;
                color: #000;
                font-size: 10px
            }
            .analyzer-report a {
                color: #666
            }
            .analyzer-report a:hover {
                color: #000
            }
            .analyzer-report table {
                border-collapse: collapse;
                width: 100%
            }
            .analyzer-report table th {
                font-weight: normal;
                color: #444
            }
            .analyzer-report table th,
            .analyzer-report table td {
                border-right: 1px solid #c3c3c3;
                border-left: 1px solid #c3c3c3;
                border-bottom: 1px solid #c3c3c3;
                padding: 4px;
                background-color: #eee
            }
            .analyzer-report table tr th,
            .analyzer-report table tr.alt td {
                background-color: #ddd
            }
            .infoTable {
                margin: 10px 5px 10px 5px;
                clear: both;
                box-shadow: none
            }
            .analyzer-report .infoTable h2 {
                margin: 0;
                padding: 5px;
                color: #fff;
                text-shadow: #2665a7 1px 1px 1px;
                border: 1px solid #4a8fd6;
                background-color: #5c9ada
            }
            .analyzer-report .infoTable.red h2{
                background-color: #F9B3B3;
                border: 1px solid #E69F9F;
            }

            .analyzer-report .infoTable,
            .analyzer-report .infoTable h2 {
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                -moz-border-radius-topleft: 3px;
                -moz-border-radius-topright: 3px
            }
            .analyzer-report .infoTable.collapsed {
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                -moz-border-radius-bottomleft: 4px;
                -moz-border-radius-bottomright: 4px
            }
            .analyzer-report .collapsed h2 {
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                -moz-border-radius-bottomleft: 3px;
                -moz-border-radius-bottomright: 3px
            }
            .analyzer-report .collapsed table {
                display: none
            }
            .analyzer-report h1 {
                font-size: 22px;
                margin: 0;
                border: 1px solid #4a8fd6;
                padding-left:10px;
                padding-top:10px;
                padding-bottom:10px;
                color:#FFF;
                background-color:#5c9ada;
                border-radius:3px;
                text-shadow: #2665a7 1px 1px 1px;
            }
            .analyzer-report h2 {
                font-size: 1.2em;
                margin: 0
            }
            .col2 {
                overflow: hidden
            }
            .col2 .col {
                float: left;
                width: 50%
            }
            #info .center {
                text-align: center
            }
            td.none {
                text-align: center;
                font-size: 12px;
                padding: 10px;
                color: #666
            }
            span.perc,
            span.faded {
                color: #666
            }
            span.caption {
                font-size: 90%
            }
            .analyzer-report td ul {
                margin: 0;
                padding: 0
            }
            .analyzer-report td ul li {
                list-style-type: square;
                padding: 0;
                margin-left: 15px;
                margin-top: 0;
                margin-bottom: 0;
                margin-right: 0
            }
            .raid_normal {
                color: green
            }
            .raid_spare {
                color: blue
            }
            .raid_failed {
                color: red
            }
            .raid_unknown {
                color: purple
            }
            .margin_auto {
                margin: auto
            }
            table.mini {
                padding: 0;
                font-size: 90%;
                border-collapse: collapse
            }
            table.mini th,
            table.mini td {
                margin: 0;
                padding: 0;
                border: none
            }
            table.mini th {
                background-color: inherit;
                color: #444
            }
            .net_up {
                color: green
            }
            .net_down {
                color: red
            }
            .net_unknown {
                color: purple
            }
            #errorList,
            #timerList {
                font-size: 75%;
                margin-top: 15px;
                margin-bottom: 15px
            }
            .bar_chart {
                position: relative;
                margin: auto
            }
            .smaller_bar_chart {
                padding-bottom: 2px
            }
            .smaller_bar_chart .bar_text {
                text-align: left !important
            }
            .bar_inner {
                border-radius: 2px;
                -moz-border-radius: 2px;
                min-height: 18px;
                background-color: #b7cce2
            }
            .bar_text {
                position: absolute;
                line-height: 18px;
                font-size: 12px;
                text-indent: 2px;
                text-align: center;
                width: 100%
            }
            .new_bar_outer {
                position: relative;
                margin: auto;
                background-color: inherit
            }
            .new_bar_text {
                z-index: 2;
                position: relative;
                padding: 2px;
                text-align: center;
                color: #000
            }
            .new_bar_bg {
                border-radius: 2px;
                -moz-border-radius: 2px;
                z-index: 1;
                height: 100%;
                position: absolute;
                display: block;
                background-color: #b7cce2
            }
            .new_bar_left .new_bar_text {
                text-align: left
            }
            .alt .bar_inner,
            .alt .new_bar_bg {
                background-color: #96b4d5
            }
            .service_up {
                color: green
            }
            .service_down {
                color: maroon
            }
            .service_zombie {
                color: orange
            }
            span.toggler {
                line-height: 24px;
                color: #8abdf2;
                float: right;
                font-family: "Courier New";
                cursor: pointer;
                font-weight: bold;
                font-size: 1.4em;
                padding-top: 0.2em;
                padding-right: 0.4em
            }
            .infoTable span.toggler:hover {
                color: #fff
            }
            #header {
                padding-bottom:2px;
            }
            .subtitle {
                color: #999;
                font-size: 12px
            }
            .time {
                padding: 5px 15px 0px 0px;
                color: #999;
                float: right;
                text-align: right
            }
            .col2_side {
                overflow: hidden
            }
            .col2_side_left {
                float: left;
                width: 80%
            }
            .col2_side_right {
                float: left;
                width: 20%
            }
            .alert{
                padding:5px;
            }
            .alert-error{
                border: 1px solid #ebccd1;
                background-color:#f2dede;
                color:#a94442;
            }
            .alert-warning{
                border: 1px solid #faebcc;
                background-color:#fcf8e3;
                color:#8a6d3b;
            }
            .alert-success{
                border: 1px solid #d6e9c6;
                background-color:#dff0d8;
                color:#3c763;
            }
            .col-primary{
                width:70%;
                float:left;
                padding:0px 10px 0px 0px;
            }
            .col-issues{
                width:27%;
                float:right;
            }
            .clearfix{
                clear:both;
            }
            .icon{height:16px;display:block;float:left;margin-right:4px;background-repeat:no-repeat;min-width:16px}.icon_os_linux{background-image:url("icons/os_linux.gif");width:14px}.icon_os_windows{background-image:url("icons/os_windows.png");width:14px}.icon_os_freebsd{background-image:url("icons/os_freebsd.png");width:14px}.icon_os_netbsd{background-image:url("icons/os_netbsd.png");width:16px}.icon_os_openbsd{background-image:url("icons/os_openbsd.png");width:16px}.icon_os_minix{background-image:url("icons/os_minix.png");width:18px}.icon_os_solaris{background-image:url("icons/os_solaris.png");width:31px}.icon_os_darwin{background-image:url("icons/os_darwin.png");width:14px}.icon_os_dragonflybsd{background-image:url("icons/os_dragonflybsd.png");width:16px}.icon_distro_ubuntu{background-image:url("icons/distro_ubuntu.png");width:16px}.icon_distro_debian{background-image:url("icons/distro_debian.png");width:16px}.icon_distro_centos{background-image:url("icons/distro_centos.png");width:16px}.icon_distro_fedora{background-image:url("icons/distro_fedora.png");width:16px}.icon_distro_arch{background-image:url("icons/distro_arch.png");width:16px}.icon_distro_redhat{background-image:url("icons/distro_redhat.png");width:16px}.icon_distro_raspbian{background-image:url("icons/distro_raspbian.png");width:16px}.icon_vm_vmware{background-image:url("icons/vm_vmware.png");width:16px}.icon_vm_virtualbox{background-image:url("icons/vm_virtualbox.png");width:16px}.icon_vm_xen{background-image:url("icons/vm_xen.png");width:36px}.icon_vm_qemu_kvm,.icon_vm_kvm{background-image:url("icons/vm_kvm.png");width:52px}.icon_vm_openvz{background-image:url("icons/vm_openvz.png");width:16px}
            @media print {
                thead {display: table-header-group;}
            }
        </style>
        <script type="text/javascript">
            window.Linfo = function(){function a(a, b){document.cookie = [encodeURIComponent(a), "=", encodeURIComponent(b)].join("")}function b(a){var b = encodeURIComponent(a), c = new RegExp("(?:^|; )" + b + "=([^;]*)"), d = c.exec(document.cookie); return d?decodeURIComponent(d[1]):null}function c(a, b){a.style.opacity = b, a.style.filter = "alpha(opacity=" + 100 * b + ")"}function d(a, b, c){var d = 10, e = 0, f = b - b % d, g = function(){var b = e++ * d / f; return a(b), b >= 1?void(c && c()):void setTimeout(g, d)}; g()}function e(a, b, c, e){var f = a.offsetHeight, g = f - b; d(function(c){var d = (1 - c) * g + b; a.style.height = d.toString() + "px"}, e || 100, c)}function f(a, b, e){d(function(b){c(a, b)}, e || 100, b)}function g(a, b, e){d(function(b){c(a, 1 - b)}, e || 200, b)}function h(a, b){return a.className.match(new RegExp("(\\s|^)" + b + "(\\s|$)"))}function i(a, b){h(a, b) || (a.className += " " + b)}function j(a, b){if (h(a, b)){var c = new RegExp("(\\s|^)" + b + "(\\s|$)"); a.className = a.className.replace(c, " ")}}function k(a, b){for (var c = 0; c < a.length; c++)b(c, a[c])}function l(){var a = document.getElementsByTagName("div"), b = 0, c = document.body.clientWidth <= 640; k(a, function(a, d){h(d, "infoTable") && (d.w = b++, d.mobile = c, new n(d))})}function m(){l()}var n = function(d){function k(b){a(d.id, b?"0":"1")}function l(){return"0" == b(d.id)?!0:!1}function m(){k(!0), t.innerHTML = "+", g(u, function(){d.fullSize = d.offsetHeight, e(d, d.offsetHeight - u.offsetHeight, function(){d.sliding = !1}), i(d, "collapsed")})}function n(){k(!1), j(d, "collapsed"), t.innerHTML = "-", e(d, d.fullSize, function(){d.style.height = "", f(u, function(){d.sliding = !1})})}function o(){d.sliding || (d.sliding = !0, h(d, "collapsed")?n():m())}function p(){var a = d.offsetHeight - u.offsetHeight; t.innerHTML = "+", c(u, 0), d.fullSize = d.offsetHeight, d.style.height = a.toString() + "px", i(d, "collapsed")}function q(){t = document.createElement("span"), t.className = "toggler", t.onclick = o, t.innerHTML = "-", d.insertBefore(t, d.firstChild)}function r(){var a = d.getElementsByTagName("h2")[0].innerHTML; d.id = a.split(" ").join("_").toLowerCase()}function s(){q(), r(), u = d.getElementsByTagName("table")[0], (d.mobile && 0 != d.w || l()) && p()}var t, u; s()}; return{init:m}}();
        </script>
    </head>
    <body>
        {% block content %}
        {% endblock %} 
    </body>
</html>
