<li class="ddown__sgl ddown__sgl--range" style="padding-top: 20px;">    
    <div class="form-block mb1">
        <div class="input-field">        
            <select class="filter-script-name" name="script_name" multiple="multiple">
                {% for id,name in options %}                
                    <option {{ id in selected ? 'selected="selected"':''}} value="{{ id }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</li>