{% if list is not empty %}
    <table>
        <thead>
            <tr>
                {% for key in list[0]|keys %}
                    <th>{{ key }}</th>                            
                    {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in list %}
                <tr>
                    {% for value in item %}                        
                        <td>
                            {% if value is iterable %}
                            {% else %}
                                {{ value }}
                            {% endif %}    
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}    