{% extends "antares/foundation::layouts.antares.index" %}
{% block content %}  
    <div class="container-fluid">
        <div class="jumbotron bg-danger" style="margin-top:10px;">
            <h2>
                {{ trans(license.RESULT) }}
            </h2>
            <br />
            <h4 style="text-align: left">
                {{ trans(license.RESULT~'-description') }}
            </h4>
            <div class="clearfix"></div>
        </div>        
    </div>
{% endblock %}
