{% extends "antares/foundation::layouts.installer.main" %}
{% block left_panel_content %}        
    {{ parent() }}
    {% include 'antares/installer::partials._menu' with {'active': 1} %}    
{% endblock %}
{% block content %}       
    {% set databaseSettings=checklist|array_only(['databaseConnection', 'mysqlDumpCommand']) %}   
    {% set checklist=unset(checklist,['databaseConnection','mysqlDumpCommand']) %}   
    <div class="col-group">
        <div class="col-16">
            {% include 'antares/installer::index._requirement' %}
        </div>
        <div class="col-16">
            {% include 'antares/installer::index._database' %}
        </div>
    </div>
    {% if (installable==true) %}        
        <div class="app-content__footer">
            <div class="btn-group">
                <a href="{{ handles('antares::install/prepare') }}" class="btn btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">
                    {{ trans('antares/foundation::label.next') }} <i class="pl8 zmdi zmdi-long-arrow-right"></i>
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}