{{ Form.open(formOptions)|raw }}
<div class="card card--chart-small card--primary-light">
    <div class="card__header">
        <div class="card__header--top">
            <span>Components and Modules</span>
        </div> 
    </div>
    <div class="card__header-chart" >
        <span class="card__indicator">
            Select components or modules to install
        </span>
    </div>
    <div class="card__content">         
        {% for field in fields %}
            {% if field.getName() not in exclude|keys %}
                {{ field.render()|raw }}            
            {% endif %}
        {% endfor %}
        <div class="separator"></div>
    </div>
</div>  
<div class="app-content__footer">
    <div class="btn-group">
        <button type="submit" class="btn btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">
            {{ trans('Finish') }} <i class="pl8 zmdi zmdi-long-arrow-right"></i>
        </button>
    </div>
</div>
{{ Form.close()|raw }}

